/* MOBILE FIRST CSS */

html {
	font-size: 62.5%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #317393;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

header {
	background-color: #fff;
	padding: 2%;
}

header a {
	color: #3f3f3f;
	text-decoration: none;
	display: block;
}

header nav {
	width: 480px;
	margin: 0 auto;
}

.menu a:hover,
.menu a:active {
	background-color: gainsboro;
	border-radius: 4px;
}

.menu li {
	line-height: 4rem;
	text-align: center;
	position: relative;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

.menu li ul {
	visibility: hidden;
	opacity: 0;
	display: none;
	position: absolute;
	left: 0;
	transition: all 0.5s ease;
}

.menu li:hover > ul,
.menu li > ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

footer {
	color: #fff;
	text-align: center;
	line-height: 3;
}